
.slider-container {
  position: absolute;
  margin-left: 5%;
  width: 55%;
  bottom: 2%;
}

.slider {
  width: 100%;
}

.slider-labels {
  display: flex;
  justify-content: space-between;
  padding: 0;
  text-align: center;
  list-style: none;
  width: 100%;
  color: white;
  font-weight: 200;
}

input[type=range] {
  background: none;
height: 27px;
-webkit-appearance: none;
margin: 10px 0;
width: 100%;
}
input[type=range]:focus {
outline: none;
}
input[type=range]::-webkit-slider-runnable-track {
width: 100%;
height: 14px;
cursor: pointer;
animate: 0.2s;
box-shadow: 1px 1px 1px #50555C;
background: #50555C;
border-radius: 14px;
border: 0px solid #000000;
}
input[type=range]::-webkit-slider-thumb {
box-shadow: 0px 0px 0px #000000;
border: 0px solid #000000;
height: 21px;
width: 40px;
border-radius: 13px;
background: #529DE1;
cursor: pointer;
-webkit-appearance: none;
margin-top: -3.5px;
}
input[type=range]:focus::-webkit-slider-runnable-track {
background: #50555C;
}
input[type=range]::-moz-range-track {
width: 100%;
height: 14px;
cursor: pointer;
animate: 0.2s;
box-shadow: 1px 1px 1px #50555C;
background: #50555C;
border-radius: 14px;
border: 0px solid #000000;
}
input[type=range]::-moz-range-thumb {
box-shadow: 0px 0px 0px #000000;
border: 0px solid #000000;
height: 21px;
width: 40px;
border-radius: 13px;
background: #529DE1;
cursor: pointer;
}
input[type=range]::-ms-track {
width: 100%;
height: 14px;
cursor: pointer;
animate: 0.2s;
background: transparent;
border-color: transparent;
color: transparent;
}
input[type=range]::-ms-fill-lower {
background: #50555C;
border: 0px solid #000000;
border-radius: 28px;
box-shadow: 1px 1px 1px #50555C;
}
input[type=range]::-ms-fill-upper {
background: #50555C;
border: 0px solid #000000;
border-radius: 28px;
box-shadow: 1px 1px 1px #50555C;
}
input[type=range]::-ms-thumb {
margin-top: 1px;
box-shadow: 0px 0px 0px #000000;
border: 0px solid #000000;
height: 21px;
width: 40px;
border-radius: 13px;
background: #529DE1;
cursor: pointer;
}
input[type=range]:focus::-ms-fill-lower {
background: #50555C;
}
input[type=range]:focus::-ms-fill-upper {
background: #50555C;
}

.tooltip {
  /* position: absolute;
  display: inline-block; */
  display:block;
  position:fixed;
  overflow:hidden;
}

body {
  font-family: 'Avenir Next';
  background-color: white;
  margin: 0px;
  padding: 0px;
}

svg {
  background-color: rgb(255, 255, 255);
}

#Intro {
  padding: 1%;
  text-align: center;
  background-color: rgb(23, 52, 77);
  color: white;
}

h1 {
  font-size: 2em;
}

h2 {
  font-size: 1.0em;
}

p {
  font-size: 1.0em;
  font-size: 18px;
  text-align: center;
  padding-bottom: 30px;
}

.date {
  margin: 0;
  position: relative;
  text-align: left;
  color: white;
  font-weight: bold;
  padding: 0;
  padding-left: 1%;
  padding-top: 1%;
}

em {
  font-style: normal;
  font-weight: bolder;
  padding-bottom: 50px;
  margin-bottom: 20px;
}

#mapContainer {
  position: relative;
  max-width: 100%;
  background-color: rgb(23, 52, 77);
  padding-bottom: 10%;
  height: 600px;
}

svg.mapSVG {
  margin-left: 5%;
  background-color: rgb(23, 52, 77);
}

#map {
  /* opacity: .8; */
  max-width: 50%;
  position: absolute;

}

#mapText {
  position: absolute;
  text-align: center;
  float: right;
  margin-top: 5%;
  margin-bottom: 5%;
  margin-left: 70%;
  margin-right: 10%;
  padding: 2%;
  background-color: rgba(255, 255, 255, 0.164);
  color: white;
}

#legend {
  position: absolute;
  text-align: left;
  float: right;
  left: 70%;
  bottom: 5%;
  padding: 2%;
  background-color: rgba(255, 255, 255, 0.164);
  color: white;
}

#legend .title {
  margin-bottom: 4%;
}


.key-dot {
  display: inline-block;
  height: 10px;
  margin-right: .5em;
  width: 20px;
}

.first { background: #EC6967; align:left;}
.second{ background: #F4B1B2;}
.third { background: #FFA764;}
.forth { background: #FED19B;}
.fifth { background: #78BD70;}
.sixth { background: #C9E8AC;}
.seventh { background: #69A2CB;}
.eighth { background: #C0DCE8;}
.ninth { background: #987284;}
.tenth { background: #D8C8E0;}

.topSongs {
  margin: 0;
  text-align: left;
  border: 0;
  padding: 0;
}

.gridlines line {
  stroke: lightgrey;
  stroke-opacity: 0.7;
  stroke-width: 0.7;
  shape-rendering: crispEdges;
}


text {
  font-size: 14px;
  stroke-opacity: 0.9;
  shape-rendering: crispEdges;
}

.label {
  font-style: italic;
  font-size: 16px;
}

.boundary {
  stroke: rgb(23, 52, 77);
  stroke-width: .4px;
}

.hidden {
  display: none;
}

#plotcontainer {
  display: flex;
  margin-top: 100px;
  max-width: 1300;
}

.overrideText {
  text-align: left;
  font-size: 1em;
  padding-left: 40px;
  padding-bottom: 0px;
}

#titleText {
  align-content: center;
  text-align: center;
  padding-top: 40px;
}

.flex-container {
  display: flex;
  max-width: 100%;
  padding-left: 100px;
  margin-bottom: 10%;
}


div.tooltip {
position: absolute;
text-align: center;
padding: 4px;
/* width: 120px;
height: 30px; */
background: #f6fbfc;
border: 1px solid grey;
border-radius: 3px;
pointer-events: none;
}
